.footer_container{
    background-color:rgb(15, 15, 15);
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: var(--xsoftTextColor);
}

@media screen and (max-width:768px) {
    .footer_container{
        height: 80px;
        margin-top: 15px;
    }
}