@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--softBg);
}

@media screen and (max-width:1536px){
  .wrapper{
    max-width: 1366px;
  }
}

@media screen and (max-width:1200px){
  .wrapper{
    max-width: 1024px;
  }
}

@media screen and (max-width:1024px){
  .wrapper{
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width:768px){
  .wrapper{
    max-width: 640px;
  }
}

@media screen and (max-width:640px){
  .wrapper{
    max-width: 475px;
    padding-left: 10px;
    padding-right: 10px;
  }
}